.container {
  box-sizing: border-box; /* Agora só aplicamos ao container */
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.message {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.constructionIcon {
  font-size: 50px;
}
